canvas {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	overflow: hidden;
}

html, body {
	overflow: hidden;
	background-color: black;
}

#changeShape {
	position: relative;
	left: 10px;
	border-radius: 7.5px;
	background-color: cyan;
	font-family: 'Courier New', monospace;
	font-size: 20px;
	padding: 10px;
	margin: 5px;
}

#changeShape:hover {
	cursor: pointer;
	background-color: lightblue;
}

#clear {
	position: relative;
	left: 10px;
	border-radius: 7.5px;
	background-color: white;
	font-family: 'Courier New', monospace;
	font-size: 20px;
	padding: 10px;
	margin: 5px;
}

#clear:hover {
	cursor: pointer;
	background-color: lightgray;
}

#state {
	position: relative;
	left: 10px;
	border-radius: 7.5px;
	background-color: red;
	font-family: 'Courier New', monospace;
	font-size: 20px;
	padding: 10px;
	margin: 5px;
	width: 40px;
}

#control-panel{
	background-color: #6E727B;
	padding: 5px;
	padding-bottom: 0px;
	width: 200px;
	position: absolute;
	top: 0;
	border-radius: 10px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	margin: 10px;
	margin-left: 0;
}

#collapse {
	font-family: 'Courier New', monospace;
	padding: 5px;
	border-radius: 5px;
	position: relative;
	left: 210px;
	height: 185px;
	background-color: #6E727B;
}

#collapse:hover {
	background-color: gray;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

#settingscog {
	position: absolute;
	left: 15px;
	bottom: 15px;
	border-radius: 10px;
	font-family: 'Courier New', monospace;
	padding: 7.5px;
	background-color: #6E727B;
	font-size: 20px;
}

#settingscog:hover {
	cursor: pointer;
	background-color: gray;
}

.settings {
	width: 50%;
	height: 70%;
	position: absolute;
	left: 25%;
	top: 10%;
	background-color: slategray;
	display: none;
	overflow-y: scroll;
	padding: 20px;
	border-radius: 15px;
}

.settingsStyle {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'New Courier', monospace;
	font-size: 25px;
}

li {
/*	list-style: none;*/
}

.section {
	text-align: center;
	margin: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

#applySettings {
	position: sticky;
	bottom: 0px;
	padding: 10px;
	border-radius: 10px;
	background-color: white;
	font-size: 15px;
	margin: 0;
	font-family: 'New Courier', monospace;
}

#applySettings:hover {
	cursor: pointer;
	background-color: gray;
}